<h1>CADASTRAR ORDEM DE MANUTENÇÃO</h1>
<form [formGroup]="orderForm" class="form-order">
  <mat-form-field class="title">
    <input formControlName="orderNumber" matInput placeholder="Número da Ordem">
  </mat-form-field><br>

  <mat-form-field>
    <input formControlName="codeABC" matInput placeholder="Código ABC">
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Equipamento</mat-label>
    <mat-select formControlName="equipmentId">
      <mat-option *ngFor="let machine of machines" [value]="machine.id">
        {{machine.description}}
      </mat-option>
    </mat-select>
  </mat-form-field><br>

<!--   
  <mat-form-field>
    <input formControlName="codeABC" matInput placeholder="Local da Manutenção">
  </mat-form-field><br> -->

  <mat-form-field>
    <mat-select formControlName="maintenanceType" placeholder="Tipo Manutenção">
      <mat-option value="Corretiva">Corretiva</mat-option>
      <mat-option value="Preventida">Preventida</mat-option>
      <mat-option value="Preditiva">Preditiva</mat-option>      
    </mat-select>
  </mat-form-field><br>

  <mat-form-field>
    <mat-select formControlName="priority" placeholder="Prioridade">
      <mat-option value="Baixa">Baixa</mat-option>
      <mat-option value="Média">Média</mat-option>
      <mat-option value="Alta">Alta</mat-option>      
    </mat-select>
  </mat-form-field><br>

 
  <mat-form-field>
    <mat-label>Técnico Responsável</mat-label>
    <mat-select formControlName="responsibleId">
      <mat-option *ngFor="let responsible of responsibles" [value]="responsible.id">
        {{responsible.name}}
      </mat-option>
    </mat-select>
  </mat-form-field><br>
  
  <mat-form-field>
    <mat-select formControlName="stoppedEquipment" placeholder="Requer parada?">
      <mat-option value="True">Sim</mat-option>
      <mat-option value="False">Não</mat-option>  
    </mat-select>
  </mat-form-field><br>

  <mat-form-field>
    <input formControlName="plannedStart" matInput [matDatepicker]="picker" placeholder="Inicio Planejamento">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input formControlName="plannedFinish" matInput [matDatepicker]="picker2" placeholder="Fim Planejamento">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input formControlName="programmedStart" matInput [matDatepicker]="picker3" placeholder="Início Programado">
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input formControlName="programmedFinish" matInput [matDatepicker]="picker4" placeholder="Fim Programado">
    <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
    <mat-datepicker #picker4></mat-datepicker>
  </mat-form-field><br>

  <!-- <mat-form-field>
    <input formControlName="stoppedEquipment" matInput [matDatepicker]="picker5" placeholder="Hora Inicial Programada">
    <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
    <mat-datepicker #picker5></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input formControlName="stoppedEquipment" matInput [matDatepicker]="picker6" placeholder="Hora Final Programada">
    <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
    <mat-datepicker #picker6></mat-datepicker>
  </mat-form-field> -->

  <!-- <mat-form-field class="notes">
    <textarea formControlName="stoppedEquipment" matInput placeholder="Observações"></textarea>
  </mat-form-field><br> -->
  <div class="button-save">
    <button type="submit" (click)="createOrder()" mat-button>Salvar</button>
  </div>
</form>
