<div>
  <div>
    <h3>LOGIN</h3>
  </div>
  <div>
    <div>
      <label for="username">Usuário</label>
      <input type="text" id="username">
    </div><br>
    <div>
        <label for="password">Senha</label>
        <input type="password" id="password">
    </div><br>
      <div>
          <input type="checkbox" id="remember">
          <label for="remember">Lembra- me?</label>
      </div><br>
      <div>
        <button (click)="LogIn()" >Entrar</button>
      </div><br>
  </div>
</div>

